<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Cadastro</title>
        <link rel="stylesheet" href="/css/bootstrap.min.css">
    </head>
    <body>
        <div align="center" class="container">
            <form action="/admin/salvar" method="POST" th:object="${prato}" enctype="multipart/form-data">
                <div class="alert alert-success" role="alert" th:if="${!#strings.isEmpty(mensagem)}">
                    <span th:text="${mensagem}"></span>
                </div>
                <div class="alert alert-danger" role="alert" th:if="${#fields.hasAnyErrors()}">
                    <div th:each="detailedError : ${#fields.detailedErrors()}">
                        <span th:text="${detailedError.message}"></span>
                    </div>
                </div>
                <table class="table" col-xs-12 col-sm-12 col-md-12>
                    <thead class="thead-light">
                        <tr>
                            <th scope="col" colspan="2"><h2>Cadastrar Prato</h2></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><input type="hidden" th:field="*{id}"></td>
                        </tr>
                        <tr>
                            <td>Nome</td>
                            <td><input type="text" th:field="*{nome}"></td>
                        </tr>
                        <tr>
                            <td>Descrição</td>
                            <td><input type="text" th:field="*{desc}"></td>
                        </tr>
                        <tr>
                            <td>Preço</td>
                            <td><input type="text" th:field="*{preco}"></td>
                        </tr>
                        <tr>
                            <td>Imagem</td>
                            <td><input type="file" name="imagem"></td>
                        </tr>
                    </tbody>
                </table>
                <input type="submit" value="Salvar">
            </form>
            <a href="listar">Ver Pratos Cadastrados</a>
        </div>
        <script src="/js/bootstrap.min.js"></script>
    </body>
</html>
