<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Pratos</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    </head>
    <body>
        <div class="container">
            <a href="cadastrar">Adicionar Prato</a>
        </div>
        <div class="container">
            <div class="row">
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Id</th>
                            <th scope="col">Nome</th>
                            <th scope="col">Descrição</th>
                            <th scope="col">Preço</th>
                            <th scope="col" colspan="3">Ações</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="prato : ${listaDePratos}">
                            <th scope="row" th:text="${prato.id}"></th>
                            <td th:text="${prato.nome}"></td>
                            <td th:text="${prato.desc}"></td>
                            <td th:text="${prato.preco}"></td>
                            <td><a th:href="@{'/admin/deletar/'+${prato.id}}"><button type="button" class="btn btn-danger">Deletar</button></a></td>
                            <td><a th:href="@{'/admin/editar/'+${prato.id}}"><button type="button" class="btn btn-primary">Editar</button></a></td>
                            <td><img width="150" height="150" th:src="@{'/images'+${prato.nome}+'.png'}"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <script src="/js/bootstrap.min.js"></script>
    </body>
</html>
