<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>User</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    </head>
    <body>
        Hello user
        <script src="/js/bootstrap.min.js"></script>
        <script src="/js/jquery-3.3.1.min.js"></script>
        <script src="/js/jquery.mask.min.js"></script>
        <script src="/js/jquery-ui.min.js"></script>
        <script src="/js/script.js"></script>
    </body>
</html>