<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Login</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    </head>
    <body>
        <form th:action="@{/login}" method="post" class="form-signin">
            <h3 class="form-signin-heading" th:text="Login"></h3> <br/>
            <input type="text" id="email" name="email" th:placeholder="Email" class="form-control"/> <br/>
            <input type="password" id="senha" name="senha"  th:placeholder="Senha" class="form-control"/> <br/>
            <div align="center" th:if="${param.error}">
                <p class="alert alert-danger">Email ou Senha Inválido.</p>
            </div>
            <button class="btn btn-lg btn-primary" name="Submit" value="Logar" type="Submit"></button>
            <a href="/registrar">Cadastre-se</a>
        </form>
        <script src="/js/bootstrap.min.js"></script>
    </body>
</html>