<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Cadastro</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    </head>
    <body>
        <div class="container-fluid">
            <form autocomplete="off" action="#" th:action="@{/registrar}" th:object="${user}" method="post" class="form-signin" role="form">
                <div class="form-group row">
                    <div class="col-sm-5">
                        <div class="p-3 mb-2 bg-dark text-white">
                            <h3 class="form-signin-heading">Formulário para Cadastro</h3>                    
                        </div >
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-1 col-form-label">Nome</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" placeholder="Nome" th:field="*{nome}"/>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-1 col-form-label">Cpf</label>
                    <div class="col-sm-4">
                        <input type="text" id="cpf" class="form-control" placeholder="CPF" th:field="*{cpf}"/>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-1 col-form-label">Nascimento</label>
                    <div class="col-sm-4">
                        <input type="text" id="nasc" class="form-control" placeholder="Nascimento" th:field="*{nasc}"/>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-1 col-form-label">Endereço</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" placeholder="Endereço" th:field="*{end}"/>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-1 col-form-label">Email</label>
                    <div class="col-sm-4">
                        <input type="email" class="form-control" placeholder="Email" th:field="*{email}"/>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-1 col-form-label">Senha</label>
                    <div class="col-sm-4">
                        <input type="password" class="form-control" placeholder="Senha" th:field="*{senha}"/>
                        <small id="passwordHelpBlock" class="form-text text-muted">
                            Sua senha deve ter entre 5 e 10 caracteres.
                        </small>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-auto">
                        <button type="submit" class="btn btn-outline-primary" role="button" aria-pressed="true">Cadastrar</button>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-5">
                        <div class="alert alert-success" th:if="${!#strings.isEmpty(msg)}">
                            <p th:utext="${msg}"></p>                    
                            <div class="alert alert-danger" th:if="${(bindingResult != null && bindingResult.getAllErrors() != null)}">
                                <a href="registrar" class="close" data-dismiss="alert" aria-label="close"> &times; </a>
                                <ul th:each="data : ${bindingResult.getAllErrors()}">
                                    <li th:text="${data.getDefaultMessage()}"></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <script src="/js/bootstrap.min.js"></script>
        <script src="/js/jquery-3.3.1.min.js"></script>
        <script src="/js/jquery.mask.min.js"></script>
        <script src="/js/jquery-ui.min.js"></script>
        <script src="/js/script.js"></script>
    </body>
</html>
