<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
     <head>
          <meta charset="UTF-8">
          <title>Lista Pratos</title>
          <link rel="stylesheet" href="/css/bootstrap.min.css">          
     </head>
     <body>
          <div align="center">
               <h2>Lista de Pratos</h2>
               <a href="novo">Adicionar Novo Prato</a><br/><br/>
               <table class="table">
                    <thead class="thead-dark">
                         <tr>
                              <th scope="col">Cod</th>
                              <th scope="col">Nome</th>
                              <th scope="col">Descrição</th>
                              <th scope="col">Preço</th>
                              <th scope="col">Ações</th>
                         </tr>
                    </thead>
                    <tbody>
                         <tr th:each="prato : ${listaPratos}">
                              <th scope="row" th:text="${prato.cod}">Cod</th>
                              <td th:text="${prato.nome}">Name</td>
                              <td th:text="${prato.desc}">Descrição</td>
                              <td th:text="${prato.preco}">Preço</td>
                              <td>
                                   <a th:href="@{'/admin/editar/' + ${prato.cod}}"><button type="button" class="btn btn-primary">Editar</button></a>
                                   &nbsp;
                                   <a th:href="@{'/admin/deletar/' + ${prato.cod}}"><button type="button" class="btn btn-danger">Deletar</button></a>
                              </td>
                         </tr>
                    </tbody>
               </table>
          </div>
          <script src="/js/jquery.min.js"></script>
          <script src="/js/bootstrap.min.js"></script>
     </body>
</html>