<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
     <head>
          <meta charset="UTF-8">
          <title>Adicionar Prato</title>
          <link rel="stylesheet" href="/css/bootstrap.min.css">    
     </head>
     <body>
          <div align="center">
               <h2>Adicionar Prato</h2><br/>
               <a href="listar">Lista de Pratos</a><br/>
               <form action="#" th:action="@{/admin/salvar}" th:object="${prato}" method="post">
                    <table class="table">
                         <tr>
                              <td>Nome</td>
                              <td><input type="text" th:field="*{nome}" /></td>
                         </tr>
                         <tr>
                              <td>Descrição</td>
                              <td><input type="text" th:field="*{desc}" /></td>
                         </tr>
                         <tr>
                              <td>Preço</td>
                              <td><input type="text" th:field="*{preco}" /></td>
                         </tr>
                         <tr>
                              <td colspan="2"><button type="submit">Salvar</button></td>
                         </tr>
                    </table>
               </form>
          </div>
          <script src="/js/jquery.min.js"></script>
          <script src="/js/bootstrap.min.js"></script>
     </body>
</html>