<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
     <head>
          <meta charset="UTF-8">
          <title>Cadastrar</title>
          <link rel="stylesheet" href="/css/bootstrap.min.css">    
     </head>
     <body style="background-color: #ededed;">
          <div style="background-color: #337ab7; height: 50px;"></div>
          <div class="container-fluid" style="margin-top: 30px;">
               <div class="row col-lg-4 col-lg-offset-4" style="margin-top: 40px; background-color: #fff; padding: 20px; border: solid 1px #ddd;">
                    <form autocomplete="off" action="#" th:action="@{/registrar}" th:object="${user}" method="post" class="form-signin" role="form">
                         <h3 class="form-signin-heading">Formulário de Cadastro</h3>
                         <div class="form-group">
                              <div class="">
                                   <input type="text" th:field="*{nome}" placeholder="Nome" class="form-control"/>
                              </div>
                         </div>
                         <div class="form-group">
                              <div class="">
                                   <input type="text" th:field="*{email}" placeholder="Email" class="form-control"/>
                              </div>
                         </div>
                         <div class="form-group">
                              <div class="">
                                   <input type="password" th:field="*{senha}" placeholder="Senha" class="form-control"/>
                              </div>
                         </div>
                         <div class="form-group">
                              <div class="">
                                   <button type="submit" class="btn btn-primary btn-block">Cadastrar</button>
                              </div>
                         </div>
                         <span th:utext="${successMessage}"></span>
                         <div class="alert alert-success alert-dismissible col-sm-12" th:if="${(bindingResult != null && bindingResult.getAllErrors() != null)}">
                              <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                              <ul th:each="data : ${bindingResult.getAllErrors()}">
                                   <li th:text="${data.getObjectName() + ' :: ' + data.getDefaultMessage()}"></li>
                              </ul>
                         </div>
                    </form>
               </div>
          </div>
          <script src="/js/jquery.min.js"></script>
          <script src="/js/bootstrap.min.js"></script>
     </body>
</html>